Repository trevorxarcieri/pixel-poll: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

.pre-commit-config.yaml:

repos:
  # ---------------- RP2040 / “central” -----------------
  - repo: local
    hooks:
      - id: black-rp2
        name: black (rp2)
        entry: ./venvs/rp2/bin/black
        language: system
        types: [python]
        files: ^(src/common|src/central|tests/rp2)/
      - id: ruff-rp2
        name: ruff (rp2)
        entry: ./venvs/rp2/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/central|tests/rp2)/
      - id: pylint-rp2
        name: pylint (rp2)
        entry: ./venvs/rp2/bin/pylint
        language: system
        types: [python]
        args: ["--prefer-stubs=y"]
        files: ^(src/common|src/central|tests/rp2)/

  # ---------------- ESP32-C3 / “controller” ------------
  - repo: local
    hooks:
      - id: black-esp32
        name: black (esp32)
        entry: ./venvs/esp32/bin/black
        language: system
        types: [python]
        files: ^(src/common|src/controller|tests/esp32)/
      - id: ruff-esp32
        name: ruff (esp32)
        entry: ./venvs/esp32/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/controller|tests/esp32)/
      - id: pylint-esp32
        name: pylint (esp32)
        entry: ./venvs/esp32/bin/pylint
        language: system
        types: [python]
        args: ["--prefer-stubs=y"]
        files: ^(src/common|src/controller|tests/esp32)/

Added pyproject toml.
  poetry.lock
  pyproject.toml
Due: none

Configured ruff.
  ruff.toml
Due: none

Moved hil tests.
  tests/esp32/hil/blink.py
  tests/rp2/hil/blink.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Created a tool script to migrate stub formats.
  tools/migrate_stubs_fmt.py
Due: none

Updated README.
  README.md
Due: none

Updated pylint config.
  .pylintrc
Due: none

Fixed typo in README.
  README.md
Due: none

Updated venv structure in README.
  README.md
Due: none

Restructured hil directories, added bouncing box test for LCD.
  tests/esp32/hil/blink/blink.py
  tests/rp2/hil/blink/blink.py
  tests/rp2/hil/bouncing_boxes/demo_bouncing_boxes.py
  tests/rp2/hil/bouncing_boxes/ili9341.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Fixed error in bouncing boxes test.
  tests/rp2/hil/bouncing_boxes/demo_bouncing_boxes.py
Due: black-rp2, ruff-rp2, pylint-rp2

Added note about running host script and board script names to the readme.
  README.md
Due: none

Updated migrate stubs script.
  tools/migrate_stubs_fmt.py
Due: none

Removed micropico project file since added my own stubs.
  .micropico
Due: none

Updated precommit to drop black and pylint, and now only use ruff lint/fmt and pyright.
  .pre-commit-config.yaml
Due: none

Removed pylintrc since removed pylint.
  .pylintrc
Due: none

Updated pyproject with new tooling.
  poetry.lock
  pyproject.toml
Due: none

Added pyright configs to make pyright on micropython for different targets possible.
  pyrightconfig.esp32.json
  pyrightconfig.json
  pyrightconfig.rp2.json
Due: none

Ignored pyright issue, it's an issue with the stubs shipped for esp32-c3.
  tests/esp32/hil/blink/blink.py
Due: black-esp32, ruff-esp32, pylint-esp32

Fixed linting issues in bouncing boxes demo.
  tests/rp2/hil/bouncing_boxes/demo_bouncing_boxes.py
Due: black-rp2, ruff-rp2, pylint-rp2

Fixed linting errors in ili lib module.
  tests/rp2/hil/bouncing_boxes/ili9341.py
Due: black-rp2, ruff-rp2, pylint-rp2

Added section for updating dependencies.
  README.md
Due: none

Removed infra for migrating stubs. No longer needed.
  README.md
  pyproject.toml
  tools/migrate_stubs_fmt.py
Due: none

Updated esp32 stubs, removed now unnecessary pyright ignores.
  poetry.lock
  pyproject.toml
  tests/esp32/hil/blink/blink.py
Due: black-esp32, ruff-esp32, pylint-esp32

Updated README to reflect RP2350 and lighter board-venv deps.
  README.md
Due: none

Updated pre-commit config to use central dev tools.
  .pre-commit-config.yaml
Due: none

Moved dependencies around for lighter board-venv deps.
  poetry.lock
  pyproject.toml
Due: none

Further updated README with new dep strategy.
  README.md
Due: none

Added initial pre commit workflow script.
  .github/workflows/pre-commit.yml
Due: none

Updated requested poetry version.
  .github/workflows/pre-commit.yml
Due: none

Removed unnecessary and error-inducing tools package ref in pyproject.
  pyproject.toml
Due: none

Turned package mode off.
  pyproject.toml
Due: none

Renamed test files to main.
  tests/esp32/hil/blink/main.py
  tests/rp2/hil/blink/main.py
  tests/rp2/hil/bouncing_boxes/main.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Removed common pyright config since it was overriding VS Code workspace settings.
  pyrightconfig.esp32.json
  pyrightconfig.json
  pyrightconfig.rp2.json
Due: none

Added ESP32 battery level over bluetooth test.
  tests/esp32/hil/ble_advertise/main.py
Due: black-esp32, ruff-esp32, pylint-esp32

Feature/add mpy (#1)
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  pyrightconfig.esp32.json
  pyrightconfig.rp2.json
  ruff.toml
  tests/esp32/hil/ble_advertise/main.py
  tests/esp32/hil/blink/main.py
  tests/rp2/hil/blink/main.py
  tests/rp2/hil/bouncing_boxes/ili9341.py
  tests/rp2/hil/bouncing_boxes/main.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Updated ruff toml.
  ruff.toml
Due: none

Updated ruff toml to ignore issues in test files.
  ruff.toml
Due: none

Implemented BLE voting modules.
  src/central/vote.py
  src/controller/vote.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Began implementation of voting tests.
  tests/esp32/hil/periodic_vote/main.py
  tests/esp32/hil/periodic_vote/vote.py
  tests/rp2/hil/receive_votes/main.py
  tests/rp2/hil/receive_votes/vote.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32

Fixed names of vote files and names of vote classes within files.
  src/central/ble_vote_mgr.py
  src/controller/ble_vote_ctrlr.py
Due: black-rp2, ruff-rp2, pylint-rp2, black-esp32, ruff-esp32, pylint-esp32
