Repository trevorxarcieri/pixel-poll: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

.pre-commit-config.yaml:

repos:
  # ---------------- RP2040 / “central” -----------------
  - repo: local
    hooks:
      - id: ruff-lint-rp2
        name: ruff lint (rp2)
        entry: ./venvs/rp2/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/central|tests/rp2)/
      - id: ruff-fmt-rp2
        name: ruff format (rp2)
        entry: ./venvs/rp2/bin/ruff
        language: system
        types: [python]
        args: ["format", "--diff"]
        files: ^(src/common|src/central|tests/rp2)/
      - id: pyright-rp2
        name: pyright (rp2)
        entry: ./venvs/rp2/bin/pyright
        language: system
        types: [python]
        args:
          [
            "--pythonpath=./venvs/rp2/bin/python",
            "--project=pyrightconfig.rp2.json",
          ]
        files: ^(src/common|src/central|tests/rp2)/

  # ---------------- ESP32-C3 / “controller” ------------
  - repo: local
    hooks:
      - id: ruff-lint-esp32
        name: ruff lint (esp32)
        entry: ./venvs/esp32/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/central|tests/esp32)/
      - id: ruff-fmt-esp32
        name: ruff format (esp32)
        entry: ./venvs/esp32/bin/ruff
        language: system
        types: [python]
        args: ["format", "--diff"]
        files: ^(src/common|src/central|tests/esp32)/
      - id: pyright-esp32
        name: pyright (esp32)
        entry: ./venvs/esp32/bin/pyright
        language: system
        types: [python]
        args:
          [
            "--pythonpath=./venvs/esp32/bin/python",
            "--project=pyrightconfig.esp32.json",
          ]
        files: ^(src/common|src/central|tests/esp32)/

Updated vote lib file names, removed old symlinks.
  src/central/ble_vote_manager.py
  src/controller/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/vote.py
  tests/rp2/hil/receive_votes/vote.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated ble lib file symlinks.
  tests/esp32/hil/periodic_vote/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/main.py
  tests/rp2/hil/receive_votes/ble_vote_manager.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added lib symlinks for common modules.
  src/central/lib
  src/controller/lib
Due: none

Moved ili lib to central folder.
  src/central/ili9341.py
  tests/rp2/hil/bouncing_boxes/ili9341.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Implemented working ble libs and tests.
  src/central/ble_vote_manager.py
  src/controller/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/main.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Feature/ble comms (#2)
  ruff.toml
  src/central/ble_vote_manager.py
  src/central/lib
  src/controller/ble_vote_controller.py
  src/controller/lib
  tests/esp32/hil/periodic_vote/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/main.py
  tests/rp2/hil/receive_votes/ble_vote_manager.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added Robotron font and helloworld to display text on LCD.
  src/central/lcd/Robotron13x21.c
  src/central/lcd/ili9341.py
  src/central/lcd/xglcd_font.py
  tests/rp2/hil/bouncing_boxes/main.py
  tests/rp2/hil/display_text/lcd
  tests/rp2/hil/display_text/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated lcd lib symlink.
  tests/rp2/hil/bouncing_boxes/ili9341.py
  tests/rp2/hil/bouncing_boxes/lcd
  tests/rp2/hil/bouncing_boxes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Added mpy cross to project deps.
  poetry.lock
  pyproject.toml
Due: none

Added cross-compiled typing files to allow typed code.
  src/common/typing.mpy
  src/common/typing_extensions.mpy
Due: none

Added typing lib to receive vote test.
  tests/rp2/hil/receive_votes/lib
Due: none

Added another lib symlink to esp32 test.
  tests/esp32/hil/periodic_vote/lib
Due: none

Added more typings to ble files.
  src/central/ble_vote_manager.py
  src/controller/ble_vote_controller.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated ruff toml to allow importing from typing.
  ruff.toml
Due: none

Selected return type in Ruff.
  ruff.toml
Due: none

Removed landscape draw text y coord adjustment.
  src/central/lcd/ili9341.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added generator typing to xglcd font.
  src/central/lcd/xglcd_font.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Changed display text test.
  tests/rp2/hil/display_text/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Added UI library code.
  src/central/ui/core.py
  src/central/ui/widgets.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added display cards test.
  tests/rp2/hil/display_cards/ble_vote_manager.py
  tests/rp2/hil/display_cards/lcd
  tests/rp2/hil/display_cards/lib
  tests/rp2/hil/display_cards/main.py
  tests/rp2/hil/display_cards/ui
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Implemented UI framework and test to display most of UI. Still need to add timing selection page and pages for voting and voting results.
  src/central/ui/core.py
  src/central/ui/widgets.py
  tests/rp2/hil/display_cards/main.py
  tests/rp2/hil/display_ui/ble_vote_manager.py
  tests/rp2/hil/display_ui/lcd
  tests/rp2/hil/display_ui/lib
  tests/rp2/hil/display_ui/main.py
  tests/rp2/hil/display_ui/ui
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added timing selection page, and added it to the UI test.
  src/central/ui/widgets.py
  tests/rp2/hil/display_ui/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added ok button.
  src/central/ui/core.py
  src/central/ui/widgets.py
  tests/rp2/hil/display_ui/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added button instructions after starting vote.
  tests/rp2/hil/display_ui/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Fixed pre-commit config.
  .pre-commit-config.yaml
Due: none

Updated LCD libs to properly handle byte and bytearray
  src/central/lcd/ili9341.py
  src/central/lcd/xglcd_font.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Changed code back to bytes/bytearray and fixed pyright, since mpy compiler changes the annootations anyway.
  pyrightconfig.esp32.json
  pyrightconfig.rp2.json
  src/central/lcd/ili9341.py
  src/central/lcd/xglcd_font.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Feature/UI (#3)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  pyrightconfig.esp32.json
  pyrightconfig.rp2.json
  ruff.toml
  src/central/ble_vote_manager.py
  src/central/lcd/Robotron13x21.c
  src/central/lcd/ili9341.py
  src/central/lcd/xglcd_font.py
  src/central/ui/core.py
  src/central/ui/widgets.py
  src/common/typing.mpy
  src/common/typing_extensions.mpy
  src/controller/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/lib
  tests/rp2/hil/bouncing_boxes/lcd
  tests/rp2/hil/bouncing_boxes/main.py
  tests/rp2/hil/display_cards/ble_vote_manager.py
  tests/rp2/hil/display_cards/lcd
  tests/rp2/hil/display_cards/lib
  tests/rp2/hil/display_cards/main.py
  tests/rp2/hil/display_cards/ui
  tests/rp2/hil/display_text/lcd
  tests/rp2/hil/display_text/main.py
  tests/rp2/hil/display_ui/ble_vote_manager.py
  tests/rp2/hil/display_ui/lcd
  tests/rp2/hil/display_ui/lib
  tests/rp2/hil/display_ui/main.py
  tests/rp2/hil/display_ui/ui
  tests/rp2/hil/receive_votes/lib
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Adjusted font docstring to what mpy changes it to.
  src/central/lcd/xglcd_font.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Changed comment back, I think it was a memory issue on the board.
  src/central/lcd/xglcd_font.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Moved BLE consts to the same file.
  src/central/ble_vote_manager.py
  src/common/consts.py
  src/controller/ble_vote_controller.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added board firmwares to the repo and README.
  README.md
  firmware/ESP32_GENERIC_C3-20250415-v1.25.0.bin
  firmware/RPI_PICO2_W-20250415-v1.25.0.uf2
Due: none

Moved bluetooth constants around, changed messages sending to only be in bytes.
  src/central/ble_vote_manager.py
  src/common/consts.py
  src/controller/ble_vote_controller.py
  tests/esp32/hil/periodic_vote/main.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated vote manager to automatically connect on its own.
  src/central/ble_vote_manager.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Built updated custom Pico firmware, adjusted firmware instructions.
  README.md
  firmware/RPI_PICO2_W-20250415-v1.25.0.uf2
  firmware/RPI_PICO2_W-20250616-v1.26.0-preview.uf2
Due: none

Adjusted vote manager comment.
  src/central/ble_vote_manager.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Made consts for BLE comms.
  src/common/consts.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Pushing VS Code settings.
  .gitignore
  .vscode/esp32.code-workspace
  .vscode/rp2.code-workspace
Due: none

Fixed utime import issues in VS Code.
  tests/rp2/hil/bouncing_boxes/main.py
  tests/rp2/hil/display_cards/main.py
  tests/rp2/hil/display_text/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Adjusted voter advertising interval.
  src/controller/ble_vote_controller.py
Due: none
