Repository trevorxarcieri/pixel-poll: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

.pre-commit-config.yaml:

repos:
  # ---------------- RP2040 / “central” -----------------
  - repo: local
    hooks:
      - id: ruff-lint-rp2
        name: ruff lint (rp2)
        entry: ./venvs/rp2/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/central|tests/rp2)/
      - id: ruff-fmt-rp2
        name: ruff format (rp2)
        entry: ./venvs/rp2/bin/ruff
        language: system
        types: [python]
        args: ["format", "--diff"]
        files: ^(src/common|src/central|tests/rp2)/
      - id: pyright-rp2
        name: pyright (rp2)
        entry: ./venvs/rp2/bin/pyright
        language: system
        types: [python]
        args:
          [
            "--pythonpath=./venvs/rp2/bin/python",
            "--project=pyrightconfig.rp2.json",
          ]
        files: ^(src/common|src/central|tests/rp2)/

  # ---------------- ESP32-C3 / “controller” ------------
  - repo: local
    hooks:
      - id: ruff-lint-esp32
        name: ruff lint (esp32)
        entry: ./venvs/esp32/bin/ruff
        language: system
        types: [python]
        args: ["check"]
        files: ^(src/common|src/central|tests/esp32)/
      - id: ruff-fmt-esp32
        name: ruff format (esp32)
        entry: ./venvs/esp32/bin/ruff
        language: system
        types: [python]
        args: ["format", "--diff"]
        files: ^(src/common|src/central|tests/esp32)/
      - id: pyright-esp32
        name: pyright (esp32)
        entry: ./venvs/esp32/bin/pyright
        language: system
        types: [python]
        args:
          [
            "--pythonpath=./venvs/esp32/bin/python",
            "--project=pyrightconfig.esp32.json",
          ]
        files: ^(src/common|src/central|tests/esp32)/

Got autoconnect and re-connect working.
  src/central/ble_vote_manager.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added exception buffers to the BLE tests bc of IRQs.
  tests/esp32/hil/periodic_vote/main.py
  tests/rp2/hil/receive_votes/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added indicate none command.
  src/common/consts.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Made advertise function simpler, since not seeing errors anymore.
  src/controller/ble_vote_controller.py
Due: none

Implemented controller state machine and threadsafe queue with it.
  src/controller/main.py
  src/controller/threadsafe_queue.py
Due: none

Introduced test for controller state machine.
  tests/esp32/hil/state_machine/ble_vote_controller.py
  tests/esp32/hil/state_machine/lib
  tests/esp32/hil/state_machine/main.py
  tests/esp32/hil/state_machine/threadsafe_queue.py
Due: ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Swapped pins physically rather than in code.
  src/controller/main.py
Due: none

Added rotary encoder library and test to display its value.
  src/central/encoder/rotary.py
  src/central/encoder/rotary_irq_rp2.py
  tests/rp2/hil/print_encoder/encoder
  tests/rp2/hil/print_encoder/lib
  tests/rp2/hil/print_encoder/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Added test to run the UI off encoder input.
  tests/rp2/hil/ui_with_encoder/ble_vote_manager.py
  tests/rp2/hil/ui_with_encoder/encoder
  tests/rp2/hil/ui_with_encoder/lcd
  tests/rp2/hil/ui_with_encoder/lib
  tests/rp2/hil/ui_with_encoder/main.py
  tests/rp2/hil/ui_with_encoder/ui
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2

Updated rotary var name since unused.
  src/central/encoder/rotary.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Moved threadsafe queue.
  src/common/threadsafe_queue.py
  src/controller/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Fixed import error in conntroller state machine test.
  tests/esp32/hil/state_machine/main.py
  tests/esp32/hil/state_machine/threadsafe_queue.py
Due: ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Implemented central state machine.
  src/central/ble_vote_manager.py
  src/central/main.py
  src/common/utils.py
  src/controller/ble_vote_controller.py
  src/controller/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Pushing old main in case I need it.
  src/central/old_main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Reimplemented central's main.py in a more abstracted and organized manner.
  src/central/ble_vote_manager.py
  src/central/consts.py
  src/central/hardware.py
  src/central/main.py
  src/central/old_main.py
  src/central/ui/core.py
  src/central/ui/pages.py
  src/central/vote_session.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated controller's main since no longer need button IRQ constructor.
  src/controller/main.py
Due: none

Moved turning controller LEDs off to the top of main.
  src/controller/main.py
Due: none

Reordered main page.
  src/central/ui/pages.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Made broadcast calls scheduled, so that they don't stomp on other message send calls.
  src/central/vote_session.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Made timer stepper page default to 0 min 30s.
  src/central/main.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Changed SPI LCD miso to pull up.
  src/central/hardware.py
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Updated flashing instructions in README.
  README.md
Due: none

Added ESP32 flash script.
  tools/clean_flash_esp32.sh
Due: none

Added an IO smoke test script for the controller.
  tests/esp32/hil/io_smoke_test/main.py
Due: ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Flipping green and blue for controller.
  src/controller/main.py
Due: none

Feature/state machines (#4)
  .gitignore
  .vscode/esp32.code-workspace
  .vscode/rp2.code-workspace
  README.md
  firmware/ESP32_GENERIC_C3-20250415-v1.25.0.bin
  firmware/RPI_PICO2_W-20250616-v1.26.0-preview.uf2
  src/central/ble_vote_manager.py
  src/central/consts.py
  src/central/encoder/rotary.py
  src/central/encoder/rotary_irq_rp2.py
  src/central/hardware.py
  src/central/main.py
  src/central/ui/core.py
  src/central/ui/pages.py
  src/central/vote_session.py
  src/common/consts.py
  src/common/threadsafe_queue.py
  src/common/utils.py
  src/controller/ble_vote_controller.py
  src/controller/main.py
  tests/esp32/hil/io_smoke_test/main.py
  tests/esp32/hil/periodic_vote/main.py
  tests/esp32/hil/state_machine/ble_vote_controller.py
  tests/esp32/hil/state_machine/lib
  tests/esp32/hil/state_machine/main.py
  tests/rp2/hil/bouncing_boxes/main.py
  tests/rp2/hil/display_cards/main.py
  tests/rp2/hil/display_text/main.py
  tests/rp2/hil/print_encoder/encoder
  tests/rp2/hil/print_encoder/lib
  tests/rp2/hil/print_encoder/main.py
  tests/rp2/hil/receive_votes/main.py
  tests/rp2/hil/ui_with_encoder/ble_vote_manager.py
  tests/rp2/hil/ui_with_encoder/encoder
  tests/rp2/hil/ui_with_encoder/lcd
  tests/rp2/hil/ui_with_encoder/lib
  tests/rp2/hil/ui_with_encoder/main.py
  tests/rp2/hil/ui_with_encoder/ui
  tools/clean_flash_esp32.sh
Due: ruff-lint-rp2, ruff-fmt-rp2, pyright-rp2, ruff-lint-esp32, ruff-fmt-esp32, pyright-esp32

Fixed typo in README.
  README.md
Due: none
